*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
}

:root[data-theme="light"] {
  --bg-color: #f2f9fe;
  --color-menu: #909193;
  --color-switcher: #111729;
  --color-active: #f2f9fe;
  --menu-active: #223344;
  --border-option: none;
  --color-text: #223344;
  --color-paragraph: #909193;
  --background-buttom: #2a4dd0;
  --text-buttom: #ffffff;
  --fill: #111729;
}

:root[data-theme="dark"] {
  --bg-color: #111729;
  --color-menu: #909193;
  --color-switcher: #223344;
  --color-active: #f2f9fe;
  --menu-active: #fff;
  --color-text: #ffffff;
  --color-paragraph: #909193;
  --background-buttom: #2a4dd0;
  --text-buttom: #ffffff;
  --border-option: none;
  --transform-option: translateX(100%);
  --fill: #f2f9fe;
}

body {
  background-color: var(--bg-color);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

.hero {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: auto;
  margin: 40px 72px 60px 72px;
}

.nav {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  flex-wrap: wrap;
  width: 60%;
}

.nav__menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  list-style: none;
}

.nav__link {
  color: var(--color-menu);
  text-decoration: none;
}

.nav__link:hover {
  color: var(--menu-active);
  font-weight: bold;
}

.active {
  color: var(--menu-active);
  font-weight: bold;
}

.nav__icon {
  width: 40px;
}

.nav__hamburguer,
.nav__close {
  display: none;
}

.nav__switcher {
  background-color: var(--color-switcher);
  border-radius: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20px;
  /* margin: 0 auto; */
  /* padding: 5px 10px; */
  position: relative;
  width: 45px;
}

.nav__icon-moon {
  border: var(--border-option);
  border-radius: 50px;
  cursor: pointer;
  height: 18px;
  width: 18px;
}

.active-moon {
  background-color: var(--color-active);
  border: var(--border-option);
  border-radius: 50px;
}

.nav__icon-sun {
  /* background-color: var(--color-active);
  border: var(--border-option);
  border-radius: 50px; */
  cursor: pointer;
  height: 18px;
  width: 18px;
}

.active-sun {
  background-color: var(--color-active);
  border: var(--border-option);
  border-radius: 50px;
}

.nav__check {
  cursor: pointer;
  height: 100%;
  opacity: 0;
  position: absolute;
  width: 100%;
  z-index: 10;
}

.nav__option {
  background-color: var(--color-active);
  border: var(--border-option);
  border-radius: 50%;
  height: 20px;
  transition: transform 0.3s;
  transform: var(--transform-option);
  width: 20px;
}

.main {
  /* border: 1px solid red; */
  margin: 0 auto;
  margin-block-start: 40px;
  margin-block-end: 40px;
  max-width: 90%;
}

.main__section {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
  justify-content: space-between;
}

.section__info {
  /* border: 1px solid blue; */
  max-width: 480px;
}

.section__text-info {
  color: var(--color-text);
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.section__description h1 {
  color: var(--color-text);
  font-size: 4.5rem;
  line-height: 1.3;
  margin-block-start: 20px;
}

.section__paragraph-info {
  color: var(--color-paragraph);
  margin-top: 20px;
}

.section__button {
  margin-block-start: 25px;
  margin-block-end: 50px;
}

.button-info {
  background-color: var(--background-buttom);
  border-radius: 8px;
  color: var(--text-buttom);
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-inline-end: 30px;
  padding-block: 15px;
  padding-inline: 35px;
  text-decoration: none;
  text-transform: uppercase;
}

.button-info:hover {
  background-color: var(--color-switcher);
}

.button-link {
  color: var(--background-buttom);
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.button-link:hover {
  color: var(--color-paragraph);
}

.section__icon {
  display: flex;
}

.section__icon p {
  color: var(--color-paragraph);
  font-size: 0.875rem;
  margin-inline-start: 10px;
}

.section__icon .icon-round {
  margin-inline-start: 20px;
}

.main__image {
  max-width: 500px;
}

.main__image img {
  width: 100%;
}

@media (max-width: 1024px) {
  .nav {
    margin-inline: 32px;
  }
  .main__section {
    flex-direction: column-reverse;
  }

  .section__info {
    /* border: 1px solid blue; */
    max-width: 900px;
  }

  .section__paragraph-info {
    margin-block-end: 40px;
    max-width: 500px;
  }
}

@media (max-width: 780px) {
  .hero {
    /* border: 1px solid red; */
    margin: 40px 32px 60px 32px;
  }
  .nav {
    margin-inline: 18px;
    flex-wrap: nowrap;
    width: 80%;
  }
  .nav__menu {
    gap: 20px;
  }
}

@media (max-width: 640px) {
  .hero {
    /* border: 1px solid red; */
    margin: 40px 32px 40px 32px;
  }

  .nav {
    display: none;
  }

  .nav_menu {
    align-items: center;
    background-color: var(--text-buttom);
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    width: 60%;
  }

  .nav__menu {
    flex-direction: column;
    font-size: 2.5rem;
    gap: 2.5rem;
    padding-top: 40px;
  }

  .nav__hamburguer {
    cursor: pointer;
    display: block;

    z-index: 1000;
  }

  .nav__close {
    display: block;
    margin-top: 40px;
    margin-right: 20px;
    position: absolute;
    top: 0;
    right: 0;
  }

  .active {
    color: #111729;
  }

  .nav__link:hover {
    color: #111729;
  }
}

@media (max-width: 490px) {
  .hero {
    /* border: 1px solid red; */
    margin: 40px 16px 40px 16px;
  }

  .nav__menu {
    flex-direction: column;
    font-size: 1.5rem;
    padding-top: 0px;
  }

  .section__description h1 {
    font-size: 3rem;
  }
}
